<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/output.css">
</head>
<body>
    <main class="w-full h-screen flex justify-center items-center bg-slate-200">
        <section class="flex flex-row w-2/6">
            <section class="bg-white rounded-md p-4 w-full flex justify-center items-center hidden" id="form-login">
                <span class="w-full">
                    <h1 class="text-2xl font-bold text-center">Login</h1>
                        <form>
                            <section class="mb-4 flex flex-col">
                                <label for="email" class="mb-2">E-mail</label>
                                <input type="email" name="email" id="email" class="p-2 border border-gray-300 rounded-md">
                            </section>
                            <section class="mb-4 flex flex-col">
                                <label for="password" class="mb-2">Senha</label>
                                <input type="password" name="password" id="password" class="p-2 border border-gray-300 rounded-md">
                            </section>
                            <button type="submit" class="bg-blue-500 text-white p-3 rounded-md w-full">Login</button>
                        </form>
                        <p class="text-center mt-3">Não possue uma conta? <button onclick="changeForm('cadastro')" class="text-blue-400">Cadastre-se</button></p>
                </span>
            </section>
            <section class="bg-white rounded-md p-4 w-full" id="form-cadastro">
                <h1 class="text-2xl font-bold text-center">Cadastro</h1>
                <form>
                    <section class="mb-4 flex flex-col">
                        <label for="name" class="mb-2">Nome:</label>
                        <input type="text" name="name" id="name" class="p-2 border border-gray-300 rounded-md">
                    </section>
                    <section class="mb-4 flex flex-col">
                        <label for="email" class="mb-2">E-mail:</label>
                        <input type="email" name="email" id="email" class="p-2 border border-gray-300 rounded-md">
                    </section>
                    <section class="mb-4 flex flex-col">
                        <label for="password" class="mb-2">Senha:</label>
                        <input type="password" name="password" id="password" class="p-2 border border-gray-300 rounded-md">
                    </section>
                    <section class="mb-4 flex flex-col">
                        <label for="confirmPassword" class="mb-2">Confirmação de senha:</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" class="p-2 border border-gray-300 rounded-md">
                    </section>
                    <button type="submit" class="bg-blue-500 text-white p-3 rounded-md w-full">Cadastro</button>
                </form>
                <p class="text-center mt-3">Não possue uma conta? <button onclick="changeForm('login')" class="text-blue-400">Cadastre-se</button></p>
            </section>
        </section>

        </section>

    </main>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        function changeForm(pathTo) {
            if (pathTo === 'cadastro') {
                $('#form-login').addClass('hidden');
                $('#form-cadastro').removeClass('hidden');
            } else {
                $('#form-cadastro').addClass('hidden');
                $('#form-login').removeClass('hidden');
            }
        }
    </script>
</body>
</html>